.venv/
models/
data/
*db
adp-video-pipeline/nodes/
nodes/
adp-video-pipeline/nodes
audio/
__pycache__/
pdf_pages/
*/input/
tmp/
venv/
data/
local/
.vscode/
.random_kak_claude_did/
check_db.py
uploads/
sample_data/
setup_database.py
test_document.py
segments/
video/
source_data/
source_data/*
*/audio/
./.ssh/
.ssh/*
.env