.venv/
models/
data/
*db
adp-video-pipeline/nodes/
nodes/
adp-video-pipeline/nodes

__pycache__/
venv/
data/
local/
.vscode/
.random_kak_claude_did/

./check_db.py
./setup_database.py
./test_document.py